<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <%- include('./partials/header') %>
  
  <body>
    <h1 id="welcome">WELCOME <br>TO YOUR CONTACT-LIST</h1>
    <div style="text-align: center;">
    <img src="https://npr.brightspotcdn.com/dims4/default/d29c9a3/2147483647/strip/true/crop/480x360+0+0/resize/1760x1320!/format/webp/quality/90/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2Flegacy%2Fsites%2Fnhpr%2Ffiles%2F201702%2Fkermit_phone.gif" alt="kermit phone">
    </div>
  </body>
</html>
